<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- configuration file -->
	<bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:resources/conf/application.properties" />
	</bean>

	<context:component-scan base-package="ar.edu.uces.progweb2.springmvc.controller.simple" />
	<context:component-scan base-package="ar.edu.uces.progweb2.springmvc.controller.simple" />
	<context:component-scan base-package="ar.edu.uces.progweb2.springmvc.service" />
	<context:component-scan base-package="ar.edu.uces.progweb2.springmvc.validator" />

	<mvc:annotation-driven />

	<!-- default resource bundle -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="resources/messages" />
	</bean>
	
	<!-- to programmatically change locale -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />

	<!-- for file upload -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="250000000000" />
	</bean>

	<util:map id="locales">
		<entry key="es"><bean class="java.util.Locale"><constructor-arg value="es"/></bean></entry>
		<entry key="es_AR"><bean class="java.util.Locale"><constructor-arg value="es"/><constructor-arg value="AR"/></bean></entry>
		<entry key="es_AR_other"><bean class="java.util.Locale"><constructor-arg value="es"/><constructor-arg value="AR"/><constructor-arg value="other"/></bean></entry>
		<entry key="en"><bean class="java.util.Locale"><constructor-arg value="en"/></bean></entry>
		<entry key="en_US"><bean class="java.util.Locale"><constructor-arg value="en"/><constructor-arg value="US"/></bean></entry>
		<entry key="en_US_other"><bean class="java.util.Locale"><constructor-arg value="en"/><constructor-arg value="US"/><constructor-arg value="other"/></bean></entry>
	</util:map>


	<import resource="/json-mapper-context.xml" />
	<import resource="/hibernate-context.xml" />
	
	<mvc:interceptors>
	    <mvc:interceptor>
	        <mvc:mapping path="/**" />
	        <bean class="ar.edu.uces.progweb2.springmvc.interceptor.LoginInterceptor"></bean>
	    </mvc:interceptor>
	</mvc:interceptors>

</beans>